<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="testheader" th:fragment="header">
    <div class="container">
        <div class=row>
            <div class="willcol-md-5 ">
                <a href="MNU001.html"><h3>Student Registration</h3></a>
            </div>
            <div class="col-md-6">
                <p>User: USR001 Harry</p>
                <p>Current Date : YY.MM.DD </p>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn-basic" id="lgnout-button" value="Log Out"
                       onclick="location.href='LGN001.html'">
            </div>
        </div>
    </div>

</div>
</body>
</html>